<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/reset.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/global.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/login.css">
        <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_640143_1nxyg8s1sdmwjyvi.css">
        <title>生命树</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body id="before-login">
    <form>
    <div id="before-login__wrap">
        <div class="logo-wrap">
            <div class="wrap2">
                <div class="logo"></div>
            </div>
        </div>
        <div id="signin">
            <!-- 第一种 -->
            <div class="form-group">
                <div class="edit-item">
                    <span class="iconfont  icon-user"></span>
                    <input type="text" class="form-control" id="username" name='username' placeholder="输入手机号">
                </div>
            </div>
             <div class="form-group">
                <div class="edit-item">
                    <span class="iconfont  icon-lock"></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="输入密码">
                </div>
            </div>
            <div>
                <button id='login' type="button" class="btn btn-success green" style="display:block; width: 100%;">登<span style="margin-left: 16px">陆</span></button>
                <button id="register" type="button" class="btn btn-default register" style="display:block; width: 100%;margin-top:20px;">注<span style="margin-left: 16px">册</span></button>
            </div>
            <div class="foot">
                <a href="">忘记密码?</a>
            </div>
            <!-- 第一种 end -->
        </div>
    </div>
</form>
</body>
<script src="__PUBLIC__/dest/js/lib/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/dest/js/lib/global.js"></script>
<script src="__PUBLIC__/dest/js/page/login.js"></script>
</html>