<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/reset.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/global.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/fenxiang.css">
        <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_640143_4xmg09t955t57b9.css">
        <title>fenxiang</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<!-- 个人中心的容器 start -->
<body id="self">
    <div class="self_wrap fenxiang">
        <h1 class="title">分享</h1>
        <!-- 红包与二维码 start  -->
        <div class="e_code">
            <img src="__PUBLIC__/dest/image/share.jpg" />
            <div class="e_code-img">
                <!-- 此处替换二维码 start-->
                <img src="/images/{$_SESSION['uname']}.png" />
                <!-- 此处替换二维码 end-->

            </div>
            <!-- <p class='e_code_number'>我的邀请码<span style="margin: 0 10px 0 5px;">:</span>123<p> -->
        </div>
        <!-- 红包与二维码 end  -->
        <div class="my-share">
            <div class="rows" layout="row center-center">
                <div self="size-x1" class="item"><span class="iconfont icon-yemiantuiguang"></span><span class='content'>我的推广</span></div>
                <div self="size-x1" class="item">
                    <button type="button" class="btn  blue" style="width: 85%" id="view" onclick="jump('')">立即查看</button>
                </div>
            </div>
        </div>

         <!-- 个人中心底部菜单 start -->
<div layout="row center-justify" id="foot-bar">
    <div self="size-x1" class="item" onclick="jump('/Index.php/Home/index/index/')">
        <span class="iconfont icon-home"></span>
        <div class="title">首页</div>
    </div>
    <div self="size-x1" class="item" onclick="jump('/Index.php/Home/smtree/index/')">
        <span class="iconfont icon-jiaoyi"></span>
        <div class="title">交易</div>
    </div>
    <div self="size-x1" class="item active" onclick="jump('/Index.php/Home/Info/tuiguangma/')">
        <span class="iconfont icon-fenxiang"></span>
        <div class="title">分享</div>
    </div>
    <div self="size-x1" class="item" onclick="jump('/Index.php/Home/info/myziliao/')">
        <span class="iconfont icon-user"></span>
        <div class="title">我的</div>
    </div>
</div>
<!-- 个人中心底部菜单 end -->

    </div>
   
</body>
<!-- 个人中心的容器 end -->

<script src="__PUBLIC__/dest/js/lib/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/dest/js/lib/global.js"></script>
<script src="__PUBLIC__/dest/js/page/fenxiang.js"></script>
</html>