<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/reset.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/global.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/shengmingshuzhuanchu.css">
        <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_640143_35nn4j5xparwwmi.css">
        <title>转出</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<body id="self">
    <div id="nav-title">
        <span class="iconfont icon-Left back" onclick="jump('/Index.php/Home/info/myziliao/')"></span>
        生命树转出
    </div>
    <div class="head-info global_padding nav-title__padding">
       <div class='bottom'>
            <p class='title'>可转出生命树<span style="margin:0 5px 0 10px;">(</span>棵<span style="margin:0 5px;">)</span></p>
            <p class='number'>{$life_tree['life_tree']}</p>
       </div>
    </div>
    <div class="weui-cells form" id="form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" name="number" placeholder="请输入要转出的数量">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="account" placeholder="请输入对方钱包账户">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" name="secretpwd" placeholder="请输入交易密码">
            </div>
        </div>
    </div>
    <div id="confirm">
         <button type="button" class="btn  blue" style="width: 285px;" id="submit">立刻转出</button>
    </div>
</body>
<!-- 个人中心的容器 end -->
<script src="__PUBLIC__/dest/js/lib/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/dest/js/lib/global.js"></script>
<script src="__PUBLIC__/dest/js/page/shengmingshuzhuanchu.js"></script>
</html>