<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/reset.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/global.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/dest/css/home.css">
        <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_640143_35nn4j5xparwwmi.css">
        <title>home</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>
<!-- 个人中心的容器 start -->
<body id="self">
    <div class="self_wrap home">
        <!-- banner start -->
        <div class="banner"></div>
        <!-- banner end -->
        <!-- 通知 -->
        <div class="notices wrap-padding">
            <div layout="rows stretch-justify">
                <div class='left-icon'>
                    <span class="iconfont icon-laba001hover"></span>
                </div>
                <div self="size-x1" class='content'>2018年5月20日生命树项目将全面启动</div>
            </div>
        </div>
        <!-- 通知结束 -->

        <!-- 转换比率 start-->
        <div class="transfer-rate wrap-padding">
           <div layout="rows center-center" style="height: 100%">
                <div>
                    <p class="title">实时积分兑换生命树比率</p>
                    <p class="number">8888</p>
                </div>
            </div>
        </div>
        <!-- 转换比率 end-->


        <div class='info wrap-padding'>
            <ul>
                <li class="item blue">
                    <div class='left-img'>
                        <img src='__PUBLIC__/dest/image/home_blue-left.png' />
                    </div>
                    <div layout="rows center-right" class="rows">
                        <div>
                            <p>可用积分<span class="left-bracket">(</span>分<span class="right-bracket">)</span></p>
                            <p class='number'>1000</p>
                        </div>
                    </div>
                </li>
                <li class="item green">
                    <div class='left-img'>
                        <img src='__PUBLIC__/dest/image/home_green-left.png' />
                    </div>
                    <div layout="rows center-right" class="rows">
                        <div>
                            <p>流通的生命树<span class="left-bracket">(</span>棵<span class="right-bracket">)</span></p>
                            <p class='number'>1000</p>
                        </div>
                    </div>
                </li>
                <li class="item purple">
                    <div class='left-img'>
                        <img src='__PUBLIC__/dest/image/home_purple-left.png' />
                    </div>
                    <div layout="rows center-right" class="rows">
                        <div>
                            <p>储存的生命树<span class="left-bracket">(</span>分<span class="right-bracket">)</span></p>
                            <p class='number'>1000</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 导航区菜单 end -->
        <!-- 个人中心底部菜单 start -->
<div layout="row center-justify" id="foot-bar">
    <div self="size-x1" class="item active" onclick="jump('/Index.php/Home/index/index/">
        <span class="iconfont icon-home"></span>
        <div class="title">首页</div>
    </div>
    <div self="size-x1" class="item" onclick="jump('building.html')">
        <span class="iconfont icon-jiaoyi"></span>
        <div class="title">交易</div>
    </div>
    <div self="size-x1" class="item" onclick="jump('building.html')">
        <span class="iconfont icon-fenxiang"></span>
        <div class="title">分享</div>
    </div>
    <div self="size-x1" class="item" onclick="jump('/Index.php/Home/info/myziliao/')">
        <span class="iconfont icon-user"></span>
        <div class="title">我的</div>
    </div>
</div>
<!-- 个人中心底部菜单 end -->

    </div>
   
</body>
<!-- 个人中心的容器 end -->

<script src="__PUBLIC__/dest/js/lib/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/dest/js/lib/global.js"></script>
<script src="__PUBLIC__/dest/js/page/home.js"></script>
</html>