.self_center {
}
.self-info {
    height: 205px;
    background: url(../image/self_bg.jpg) no-repeat;
    background-size: 100%;
    padding: 10px 32px;
}
.self-info p {
        letter-spacing: 1px;
        font-size: 12px;
        margin: 0;
        color: white;
    }
.self-info .number {
    font-weight: bold;
}
.self-info .part-one .avatar {
            width: 36px;
            height: 36px;
            float: left;
            border-radius: 18px;
            overflow: hidden
        }
.self-info .part-one .avatar img {
    width: 100%;
    height: 100%;
    float: left;
}
.self-info .part-one .name_phone {
            float: left;
            margin: 2px 0 0 5px;
            color: white;
            
        }
.self-info .part-two {
        text-align: center;
        padding-top: 32px;
}
.self-info .part-two .title {
    font-size: 12px;
}
.self-info .part-two .number {
    font-size: 20px;
}
.self-info .part-three {
        text-align: center;
        height: 40px;
        margin-top: 30px;
}
.self-info .part-three .item {
    height: 100%;
}
.self-info .part-three .item:nth-child(1) {
    border-right: 1px solid white;
}
.self-info .part-three .title {
    font-size:13px;
}
.self-info .part-three .number {
    font-size:15px;
}
.nav-items {
    background: #ffffff;
    margin-top: 10px;
}
.nav-items a {
        color: inherit;
    }
.nav-items .item-row {
        border-bottom: 1px solid  #e8e8e8;
        height: 73px;
        text-align: center;
        color:#5395fe
    }
.nav-items .item-row:nth-child(1) {
    border-top: 1px solid  #e8e8e8;
}
.nav-items .item-row .item-row_child {
    height: 100%;
    padding-top: 12px;
}
.nav-items .item-row .item-row_child:nth-child(1), .nav-items .item-row .item-row_child:nth-child(2) {
    border-right:  1px solid  #e8e8e8;
}
.nav-items .iconfont {
        font-size: 25px;
    }
.nav-items .title {
        color:#4b4b4b;
        font-size: 12px;
    }
.phone {
    margin-top: 10px;
    text-align: center
}
.phone .number {
    color: black;
    text-decoration: none;
}